# Virtual Environment
.venv/
venv/
env/
.env/
**/.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
**/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Large binary files
*.dylib
*.so
*.pyd

# IDE
.vscode/
.idea/ 